.scrollNav {
    position: fixed;
    display: flex;
    transform: translateX(-50%) rotate(-90deg) ;
    top: 55vh;
    left: 6%;
    background-color: transparent;
    z-index: 999;
    font-size: 0.8rem;
    justify-content: space-between ;
    --sideScroll: 0px;
}
@media screen and (max-width: 900px) {
    .scrollNav{
        display: none;
    }
  }
.navBut {
    text-decoration: none;
    border-bottom: 2px solid transparent !important;
    padding: 7px 14px 6px;
}

.navBut {
    cursor: pointer;
}

.indici{
    position: absolute;
    top: 10px;
    right: 14px;
}

.indici::after {
    display: block;
    content: "";
    margin-top: 0.4rem;
    margin-left: 0.3rem;
    border-bottom: solid 3px white;
    transform: scaleX(1);  
    width: 40px;
    transform: translateX(var(--sideScroll));
    transition: transform 240ms ease-out;
  }